body
{
    margin: 0;
    padding: 0;
}
/* navbar */

.navbar
{
    opacity: 0.9;
    margin-top: 1px;
    z-index: 1000;
}
.navbar-brand
{
    margin-left: 12px;
}
.dropdown-item:hover
{
    color: #fff;
    background-color: #333;
    border-radius: 20px;

}
.nav-item:hover
{
    padding: 2px;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
}

/* video */
.video
{
    opacity: 0.9;
    width: 100%;
}


/* team */


/* testimonial */

/* footer */



@media screen and (max-width: 480px) {
    body {
    }
    .navbar-brand
{
    margin-left: 0px;
}
    .video
    {
        margin-top: 130px;
    }
  }